<h1> my anime are well </h1>
<p> paragraph</p>
 <a href=" https://www.google.com" target="_blank" title=" go to google"> Click here </a>  # Auto detect text files and perform LF normalization
* text=auto
